<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="__CSS__/framework7.ios.min.css">
    <!-- Path to Framework7 color related styles, iOS Theme -->
    <link rel="stylesheet" href="__CSS__/framework7.ios.colors.min.css">
    <title>楼盘表</title>
    <style>
        *{
            font-family: "Microsoft YaHei", "黑体", "宋体", sans-serif;
        }
        body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form,  input, p, table, th, td ,select,option{
            padding: 0;
            margin: 0;
            list-style: none;
        }
    </style>
</head>
<body>
//
<script src="__JS__/jquery-1.11.1.min.js"></script>
<script src="__JS__/framework7.js"></script>
</body>
</html>